{##}
{#{% extends 'base.html' %}#}
{#{% load static %}#}
{##}
{#    {% block content %}#}
{#        <form action="" method="get">#}
{#            {{ form.as_p }}#}
{#            <input type="submit" value="search">#}
{#        </form>#}
{#        <div class="card">#}
{#        {% for post in posts %}#}
{#                    <img src='{{ post.image.url }}' alt="">#}
{#                    <a href="{{ post.get_absolute_url }}" class="card-body" >{{post.body | truncatewords:8}}</a><br>#}
{#            {% endfor %}#}
{#        </div>#}
{#    {% endblock %}#}




{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <form action="" method="get" class="mb-4">
            <div class="input-group">
                {{ form.as_p }}
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>

        <div class="row row-cols-2">
            {% for post in posts %}
                <div class="col mb-4">
                    <div class="card">
                        <img src="{{ post.image.url }}" class="card-img-top" alt="Post Image">
                        <div class="card-body">
                            <a href="{{ post.get_absolute_url }}" class="card-text">{{ post.body | truncatewords:8 }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


